<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Chain API</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="hero">
    <div class="her2">
      <h1 class="head">LIVE CRYPTOCURRENCY PRICES</h1>
      <h3 class="head">Check the latest cryptocurrency prices and market caps before you buy.</h3><br><br>
      <h5 class="head2">👇Enter Cryptocurrency Symbol</h1>

      <form action="/check-price" method="POST">
        <label for="cryptoSymbol" class="cryptoSymbol"></label>
        <input type="text" id="cryptoSymbol" placeholder="e.g., BTC-USD" name="cryptoSymbol" required>
        <button type="submit" class="btn">Check Price</button>
      </form><br>
    
    <% if(locals.content){ %>
        <h3 class="data"><span style="font-weight:bold">Cryptocurrency Name :</span> <span style="font-weight:bold;color: rgba(5, 34, 33, 0.959);"><%=cryptoName%></span></h3>                   
        <h3 class="data"><span style="font-weight:bold">Current Price : </span><span style="font-weight:bold;color: rgba(5, 34, 33, 0.959);"><%=content%></span></h3>                            
        <h3 class="data"><span style="font-weight:bold">24H Change : </span><span style="font-weight:bold;color: rgba(5, 34, 33, 0.959);"><%=percentage%> </span></h3>                                     
        <h3 class="data"><span style="font-weight:bold">24H Volume : </span><span style="font-weight:bold; color: rgba(5, 34, 33, 0.959);"><%=volume%></span></h3>                                  
        <h3 class="data"><span style="font-weight:bold">Market Cap : </span><span style="font-weight:bold; color: rgba(5, 34, 33, 0.959);"><%=MarketCap%> </span></h3>
        
        <% } else { %>
            
            <% } %>
           
        </div>
        </div>
        </div>
        
        
        <%- include("partials/footer.ejs") %>
        <script src="/script.js"></script>
        </body>
</html>